@forward 'variables';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;700&display=swap');


body {
  font-family          : 'M PLUS 1p', sans-serif;
  font-size            : var(--font-size-medium);
  font-weight          : 400;
  line-height          : var(--line-height-normal);
  letter-spacing       : var(--letter-spacing-normal);
  color                : #FFFFFF;
  word-wrap            : break-word;
  font-feature-settings: 'palt';
  background-color: #AC409A;
}

img {
  display   : block;
  max-width : 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin        : 0;
  padding       : 0;
  color         : inherit;
  font-weight   : bold;
  font-size     : inherit;
  font-size     : var(--font-size-large);
  line-height   : var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}

p {
  margin : 0;
  padding: 0;
}

main {
  width            : 100%;
  margin           : 0 auto;
  max-width        : calc(1200px + var(--bv) * 4);
  min-height       : 100dvh;
  scroll-snap-align: start;
}

section {
  padding : calc(var(--bv) * 30) calc(var(--bv) * 4);
  margin: 0 auto;
}